body {
  padding: 0;
  margin: 0;
}
main{
  background-color: #fafafa;
}

.padre{
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.link{
    text-decoration: none;
  }

.nav {
    text-decoration: none;
  }

  .nav:hover {
    background: rgb(11, 112, 19);
  }
 
  th {
    background-color: rgb(77, 189, 197);
    color: white;
  }
   tbody {
    background-color: white;
    color: rgb(189, 227, 0);
    text-align: center;
  }
   table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table{
      width:100%;
      margin-bottom: 50px;
  }

#sucursales{
    height: 60px;
    border-radius: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(12, 137, 182);
}
.puesto {
  font-size: x-large;
  display: flex;
  list-style: none;
  padding-left: 10%;
}

#submit {
  border-radius: 5px;
  height: 30px;
  font-size: large;
}

#cv_name {
  font-size: larger;
  height: 30px;
  border-radius: 5px;
  margin-left: 3%;
}

#captcha{
  border-radius: 5px;
  height: 30px;
  width: 120px;
  font-size: large;
}

#btn {
  font-size: large;
}

.captcha {
  background-color: rgb(163, 81, 206);
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sucursales {
  max-width: 1200px;
}

.cards{
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(34, 33, 33);
  color: white;
  align-items: baseline;
}